node_modules/

.next
dist/
*.tsbuildinfo
.eslintcache
.turbo
.vercel
.DS_Store
.env
vendor/
data
*.log
todos.md
.store
.npmrc
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
yarn.lock
.turbo/
# macOS
.DS_Store
